<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BIBLIOTECA</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css}">
</head>
<body>
<a th:class="btn btn-primary btn-sm mb-3" th:href="@{https://localhost:8080/libros}">Vista de libros</a>
<a th:class="btn btn-primary btn-sm mb-3" th:href="@{https://localhost:8080/autores}">Vista de Autores</a>
<a th:class="btn btn-primary btn-sm mb-3" th:href="@{https://localhost:8080/lectores}">Vista de Lectores</a>
<a th:class="btn btn-primary btn-sm mb-3" th:href="@{https://localhost:8080/prestamos}">Vista de Préstamos</a>
<a th:class="btn btn-primary btn-sm mb-3" th:href="@{https://localhost:8080/multas}">Vista de Multas</a>

    <div th:class="container">
        <div th:class="d-flex justify-content-center">
        <div id="demo" class="carousel slide" data-ride="carousel">


            <ul th:class="carousel-indicators">
                <li th:target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>


            <div th:class="carousel-inner">
                <div th:class="carousel-item active">
                    <img th:src="@{https://3.bp.blogspot.com/-lJXH5atdMZA/V0zGUWpXAzI/AAAAAAAAgK8/LSUd8OMdDFc68HGB49GOaGNWk6t094ylQCLcB/s1600/Consejos%2Bpara%2Bconvertir%2Ba%2Bun%2Bni%25C3%25B1o%2Ben%2Bun%2Bgran%2Blector.jpg}"
                         alt="Un lector" href="@{http://localhost:8080/lectores}">
                    <div th:class="carousel-caption">
                        <h3>LECTORES</h3>
                        <p>Acceda a la gestión de lectores</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img th:src="@{https://media.npr.org/assets/img/2019/07/31/peppa-core-landscape-73f127c915a9ef8761ae55b059dc49e5bc35957d.jpg}"
                         alt="Un lector" th:href="@{http://localhost:8080/lectores}">
                </div>
                <div class="carousel-item">
                    <img th:src="@{https://3.bp.blogspot.com/-lJXH5atdMZA/V0zGUWpXAzI/AAAAAAAAgK8/LSUd8OMdDFc68HGB49GOaGNWk6t094ylQCLcB/s1600/Consejos%2Bpara%2Bconvertir%2Ba%2Bun%2Bni%25C3%25B1o%2Ben%2Bun%2Bgran%2Blector.jpg}"
                         alt="Un lector" th:href="@{http://localhost:8080/lectores}">
                </div>
            </div>


            <a th:class="carousel-control-prev" th:href="@{#demo}" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a th:class="carousel-control-next" th:href="@{#demo}" data-slide="next">
                <span th:class="carousel-control-next-icon"></span>
            </a>

            </div>
        </div>
    </div>
</body>
</html>