<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BIBLIOTECA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<a class="btn btn-primary btn-sm mb-3" href="http://localhost:8080/libros">Vista de libros</a>
<a class="btn btn-primary btn-sm mb-3" href="http://localhost:8080/autores">Vista de Autores</a>
<a class="btn btn-primary btn-sm mb-3" href="http://localhost:8080/lectores">Vista de Lectores</a>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#biblioteca" data-slide-to="0" class="active"></li>
        <li data-target="#biblioteca" data-slide-to="1"></li>
        <li data-target="#biblioteca" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://3.bp.blogspot.com/-lJXH5atdMZA/V0zGUWpXAzI/AAAAAAAAgK8/LSUd8OMdDFc68HGB49GOaGNWk6t094ylQCLcB/s1600/Consejos%2Bpara%2Bconvertir%2Ba%2Bun%2Bni%25C3%25B1o%2Ben%2Bun%2Bgran%2Blector.jpg"
                 alt="Un lector" href="http://localhost:8080/lectores">
            <div class="carousel-caption">
                <h3>LECTORES</h3>
                <p>Acceda a la gestión de lectores</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://3.bp.blogspot.com/-lJXH5atdMZA/V0zGUWpXAzI/AAAAAAAAgK8/LSUd8OMdDFc68HGB49GOaGNWk6t094ylQCLcB/s1600/Consejos%2Bpara%2Bconvertir%2Ba%2Bun%2Bni%25C3%25B1o%2Ben%2Bun%2Bgran%2Blector.jpg"
                 alt="Un lector" href="http://localhost:8080/lectores">
        </div>
        <div class="carousel-item">
            <img src="https://3.bp.blogspot.com/-lJXH5atdMZA/V0zGUWpXAzI/AAAAAAAAgK8/LSUd8OMdDFc68HGB49GOaGNWk6t094ylQCLcB/s1600/Consejos%2Bpara%2Bconvertir%2Ba%2Bun%2Bni%25C3%25B1o%2Ben%2Bun%2Bgran%2Blector.jpg"
                 alt="Un lector" href="http://localhost:8080/lectores">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#biblioteca" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#biblioteca" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

</body>
</html>