<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lectores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<h3>Lista de Lectores</h3>
<a class="btn btn-primary btn-sm mb-3" th:href="@{/lectores/add}">Agregar un lector</a>
<div class="container">
    <table class="table table-bordered table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage}
                            + '?sortField=titulo&sortDir='
                            + ${reverseSortDir}}">Id</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage}
                            + '?sortField=autor&sortDir='
                            + ${reverseSortDir}}">Nombre</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage}
                            + '?sortField=anyo&sortDir='
                            + ${reverseSortDir}}">Dirección</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage}
                            + '?sortField=isbn&sortDir='
                            + ${reverseSortDir}}">Teléfono</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage}
                            + '?sortField=editorial&sortDir='
                            + ${reverseSortDir}}">Préstamos</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage}
                            + '?sortField=tipo&sortDir='
                            + ${reverseSortDir}}">Multa</a>
            </th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lector: ${listLector}">
            <td th:text="${lector.id}"></td>
            <td th:text="${lector.nombre}"></td>
            <td th:text="${lector.direccion}"></td>
            <td th:text="${lector.telefono}"></td>
            <!-- TERMINAR PRESTAMOS Y MULTAS -->
            <td th:text="empty"></td>
            <td th:text="empty"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/lectores/update/{id}(id=${lector.id})}">Actualizar</a>
                <a class="btn btn-danger" th:href="@{/lectores/delete/{id}(id=${lector.id})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:if="${listLector.size() == 0}">No existen lectores</p>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-5">Total Filas : [[${totalItems}]]</div>
            <div class="col-sm-3">
		                <span th:each="i:${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage !=1}"
                               th:href="@{'/lectores/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                            >[[${i}]] </a>
			                <span th:unless="${currentPage !=1}">[[${i}]]</span>
		                </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/lectores/page/' + ${currentPage + 1}
                            + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Próxima</a>
                <span th:unless="${currentPage < totalPages}">Próxima</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/lectores/page/' + ${totalPages}
                            + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Última</a>
                <span th:unless="${currentPage < totalPages}">Última</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>