<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Multar</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h3>Gestión de lectores</h3>
  <hr>
  <h2>Multamos lector</h2>


  <form action="#" th:action="@{/lectores/multar/{id}(id=${castigado.id})}"  method="POST">

      <input type="datetime-local" th:field="*{penalizacion.fInicio}"
             class="form-control mb-4 col-4">

      <input type="datetime-local" th:field="*{penalizacion.fFin}"
             class="form-control mb-4 col-4">

      <input type="hidden" th:field="*{penalizacion.lector}" th:value="castigado.id">


      <label>Confirma la multa del usuario</label>
      <input type="checkbox"  th:field="*{castigado.multado}"
               class="form-control mb-4 col-4">

      <input type="hidden" th:field="*{castigado.multa}" th:value="penalizacion.id">

      <a th:href="@{/lectores}">Volver al listado de Lectores</a>

    <button type="submit" class="btn btn-info col-2">Multar Lector</button>

  </form>

  <hr>


</div>
</body>
</html>